* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: sans-serif;
    width: 100%;
    margin: 0px auto;
    background-color: black;
    border: 1px solid gray;
}
.nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: gray;
    padding-top:  20px;
    text-transform: capitalize;
}

.nav h1 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 47, 5);
    padding: 15px 10px;
    color: rgb(243, 238, 238);
    margin-right: 20px;
}

.nav .home {
margin-left: 80px;
}
.nav .about {
    color: chocolate;
}
.nav .search {
    margin-left: 120px;
}
.nav .bar {
    width: 30px;
    background-color: rgb(251, 47, 5);
    color: rgb(243, 238, 238);
    text-align: center;
    padding: 5px;
}
.header {
    display: flex;
    justify-content: center;
    
}
.rosalina-box {
 text-align: center;
 margin-left: 220px;
 margin-top: 25px;
 font-weight: 700;
}
.rosalina {
    margin-right: 310px;
    font-size: 50px;
    margin-top: 50px;
    color: rgb(200, 195, 195);
    
}
.william {
    margin-right: 243px;
    font-size: 50px;
       color: rgb(200, 195, 195);
       position: relative;
       top: 10px;
}
.rosalina-image {
    position: relative;
    bottom: 190px;
    
}
.circle-box {
    width: 220px;
    height: 150px;
    border: 3px solid rgb(141, 5, 5);
    position: relative;
    right: 120px;
    margin-top: 15px;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(41, 228, 218);
    position: absolute;
    top: 70px;
    left: 85px;
    
}
.triangle {
   width: 80px;
   height: 80px;
   background-color: rgb(30, 28, 28);
   position: absolute;
   top:20px ;
   left: 55px;
   transform: rotate(197deg);
   clip-path: polygon(100% 0, 0 82%, 88% 100%);
}
.section-1{
    display: flex;
    justify-content: center;
    gap: 520px;
}
.capitals {
    display: flex;
    gap: 20px;
    position: relative;
    bottom: 250px;
    margin-left: 150px;
    font-size: 10px;
    color: rgb(200, 195, 195);
}
.capitals .FB{
    color: chocolate;
}
.text-contact{
    position: relative;
    bottom: 470px;
    margin-right: 60px;
}
.text-contact .engineer{
    margin-bottom: 20px;
    color: chocolate;
    text-decoration: underline;
    }
.text-contact h3{
    width: 200px;
    margin-bottom: 20px;
    color: rgb(200, 195, 195);
}

.text-contact p{
    width: 300px;
    font-size: 14px;
    margin-bottom: 20px;
    color: gray;
}
.text-contact a{
    display: block;
    color: chocolate;
    text-decoration: none;
    font-weight: 600;
}
.section-2{
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
    bottom: 380px;
}
.section-2-text a{
    color: chocolate;
   font-weight: 600;
}
.section-2-text h4{
    width: 300px;
    font-size: 20px;
    color: rgb(200, 195, 195);
    margin-top: 10px;
}
.section-2-text p{
    width: 200px;
    font-size: 10px;
    margin-top: 10px;
     color: gray;
}
.section-2-text div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.skill-1{
    font-size: 45px;
    font-weight: 700;
    color: rgba(208, 95, 15, 0.922);
}
.skill-2{
width: 50px;
color: rgb(200, 195, 195);
}

.section-right-side h2{
    width: 350px;
    margin-top: 25px;
    color: rgb(200, 195, 195);
}
.section-right-side p{
    margin-top: 25px;
    font-size: small;
    color: gray;
}
.section-2-email{
    display: flex;
    gap: 80px;
    margin-top: 40px;
    color: rgba(208, 95, 15, 0.922);
    text-decoration: underline;
}
.section-2-email a{
    color:rgba(208, 95, 15, 0.922) ;
}